.NavigationItems {
	margin: 10px 15px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: left;
	height: 100%;
	font-family: 'Red Hat Text', sans-serif;
}

@media (min-width: 500px) {
	.NavigationItems {
		flex-flow: row;
	}
}

